apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: backend
spec:
  type: ClusterIP  # Internal service
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80        # Service port
      targetPort: 5678  # Container port
